body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #810000;
    padding: 1em;
    nav{
        display: flex;
        a{
        text-decoration: none;
        color: white;
    }
    }
    a{
        text-decoration: none;
        color: white;
        padding: 0.5em;
    }
    form{
        display: flex;
        align-items: center;
        button{
            border: none;
            outline: none;
            background: none;
            color: white;
        }
    }
}